header {
    color: green;
}

.header-color {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

.kien{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}